table {
  width: 100%;
}

.table {
  background-color: white;
}

.table th {
  background-color: rgb(7, 73, 27);
  color : white;
  font-size: 18px;
}

td, .table th {
  vertical-align: middle;
}

.btn {
  width: 100%;
}

tr:nth-child(even){
  background-color: #eee;
}

.tag {
  font-weight: 600;
}