table {
  width: 100%;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.form {
  width : 100%;
  /* padding-right: 25px; */
  background-color: rgba(255, 255, 255, 0.8);
}

.mat-form-field {
  width: 100%;
  /* margin: 10px; */
  /* padding-top: 10px;
  padding-bottom: 10px; */
}

.table {
  background-color: rgba(255, 255, 255, 0.5);
}

.table th {
  background-color: rgb(7, 73, 27);
  color : white;
  font-size: 18px;
}

td, .table th {
  vertical-align: middle;
}

.btn {
  width: 100%;
}

tr:hover {
  cursor: pointer;
}

tr:nth-child(even){
  background-color: #eee;
}

.border {
  padding: 10px;
  border: 10px rgba(255, 255, 255, 0.5) solid;
  border-radius: 10px;
}

.no-result {
  background-color: rgba(255, 255, 255, 0.5);
  color : black;
  border-radius: 10px;
}

.paginator {
  background-color: #ccc;
}

.clickable {
  cursor: pointer;
}