@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: black; 
  background-image: linear-gradient(to top right, white, #aaa);
  background-attachment: fixed;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}